.main{
    margin: auto;
    width: 1000px;
    height: 230px;
    background: url('/img/back.png') left center;
    background-size: auto;
	background-repeat: repeat-x;
    animation: back 8s linear infinite;
    border: black 3px solid;
}

@keyframes back {
    100% {background-position: -641px;}
}

.winner{
    margin: auto;
    width: 1000px;
    height: 230px;
    background: url('/img/winner.png') left center;
    background-size: auto;
	
}

#character{
    width: 49px;
    height: 80px;
}

.CharacterWalk{
    width: 49px;
    height: 80px;
    position: absolute;
    top: 173.5px;
    background: url('/img/b.png') left center;
    animation: play 0.9s steps(6) infinite;
}

@keyframes play {
    100% {background-position: -309px;}
}

.CharacterJump{
    width: 49px;
    height: 80px;
    position: absolute;
    top: 160.5px;
    background: url('/img/j.png') left center;
    animation: jump 0.95s steps(6) ;
}


@keyframes jump {
    0% {transform: translate(0px,0px);}
    25% {transform: translate(0px,-100px);}
    50% {transform: translate(0px,-150px);}
    75% {transform: translate(0px,-100px);}
    100% {transform: translate(0px,0px);}
    100% {background-position: -309px;}
}

.die {
    width: 20px;
    height: 80px;
    position: absolute;
    top: 180.5px;
    background: url('/img/injured2.png') left center;
    animation: die 0.9s steps(4) infinite;
    
}

 @keyframes die {
    100% {background-position: -225px;}
}

.milkshake {
    width: 20px;
    height: 80px;
    position: absolute;
    top: 180.5px;
    background: url('/img/holding.png') left center;
    animation: die 0.9s steps(1) infinite;
    
}

 @keyframes milkshake {
    100% {background-position: -225px;}
}
/* points */
#points {
    position: absolute;
    top: 120.5px;
    right: -3px;
    width: 25px;
    height: 45px;
    background: url('/img/milkshake.png');
    z-index: 0;
}

/* obstaculo */
#obstacle {
    position: absolute;
    top: 180.5px;
    right: -3px;
    width: 49.6;
    height: 70px;
    background: url('/img/selma.png');
    z-index: 0;
}
.obstacleanimate {
    animation: obstaculoanimate 0.8s steps(1) infinite;
}
@keyframes obstaculoanimate {
    from {background-position-x: 0px;}
    to {background-position-x: -182px;}
}
.obstaclemove {
    animation: obstaculomove 8s linear infinite;
}
@keyframes obstaculomove {
    from {right: -100px;}
    to {right: 1200px;}
}
